<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {# Include Tailwind CSS via CDN - this is the "play cdn" version that's not intended for use on production #}
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    {# This script tag is required to use Tailwind Plus Elements #}
    <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
