<!doctype html>
<html class="scroll-smooth">
  <head>
    <title>Dreamcode Studios | Demand Gen & Paid Ads for B2B</title>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta name="description" content="We help B2B companies gain more revenue with optimized paid advertising strategies. No long-term contracts. Minimal oversight from you."/>

    <link rel="icon" href="/assets/images/favicons/favicon9.png" type="image/png">

    {# Google Fonts #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ '/assets/styles/tailwind.css' | url }}">

    {# This script tag is required to use Tailwind Plus Elements #}
    <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>

    {% if site.env == "production" %}
      {% include "_gtm.njk" %}
    {% endif %}
  </head>
  <body>
    {% if site.env == "production" %}
      {% include "_gtm_noscript.njk" %}
    {% endif %}

    <div class="bg-white">
      {% include "../home/_header.njk" %}

      <main class="relative isolate">
        {{ content | safe }}
      </main>

      {% include "../home/_footer.njk" %}
    </div>
  </body>
</html>