<div id="dc-calendly" class="bg-waikawa-gray-500 relative isolate -z-10 text-center pt-24 pb-0">
  <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="w-full flex-auto">
      <h2 class="mx-auto text-center font-normal tracking-normal text-balance text-white text-5xl">
        Ready to launch & scale your paid ads program? 
      </h2>

      <div class="mt-16">
        {% if false %}
          <!-- Calendly inline widget begin -->
          <div class="calendly-inline-widget" data-url="https://calendly.com/dreamcode/intro-call" style="min-width:320px;height:700px;"></div>
          <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
          <!-- Calendly inline widget end -->
        {% endif %}

        <div style="min-width:320px;height:700px;">
          <img class="mx-auto" src="/assets/images/placeholders/calendly.png"/>
        </div>
      </div>
    </div>
  </div>

  {% if site.background_enabled %}
    <div aria-hidden="true" class="absolute inset-x-0 -top-16 -z-10 flex transform-gpu justify-center overflow-hidden blur-3xl">
      <div style="clip-path: polygon(73.6% 51.7%, 91.7% 11.8%, 100% 46.4%, 97.4% 82.2%, 92.5% 84.9%, 75.7% 64%, 55.3% 47.5%, 46.5% 49.4%, 45% 62.9%, 50.3% 87.2%, 21.3% 64.1%, 0.1% 100%, 5.4% 51.1%, 21.4% 63.9%, 58.9% 0.2%, 73.6% 51.7%)" class="aspect-1318/752 w-329.5 flex-none bg-linear-to-r from-[#9fd6fc] to-[#8680fd] opacity-50 dark:from-[#80caff] dark:to-[#4f46e5] dark:opacity-20"></div>
    </div>
  {% endif %}
</div>