<div class="py-24 xl:mx-auto xl:max-w-7xl xl:px-8">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="text-center text-lg/8 font-semibold text-gray-900 dark:text-white">
      Trusted by B2B SaaS Marketing leaders at
    </h2>
    <div class="-mx-6 grid grid-cols-2 gap-0.5 overflow-hidden sm:mx-0 sm:rounded-2xl md:grid-cols-4">
      <div class="p-8 sm:p-10">
        <img width="158" height="48" src="/assets/images/clients/bucketlist.png" alt="Transistor" class="max-h-12 w-full object-contain"/>
      </div>
      <div class="p-8 sm:p-10">
        <img width="158" height="48" src="/assets/images/clients/gatsby.png" alt="Transistor" class="max-h-12 w-full object-contain"/>
      </div>
      <div class="p-8 sm:p-10">
        <img width="158" height="48" src="/assets/images/clients/blackpurl.png" alt="Transistor" class="max-h-12 w-full object-contain"/>
      </div>
      <div class="p-8 sm:p-10">
        <img width="158" height="48" src="/assets/images/clients/coursedog.png" alt="Transistor" class="max-h-12 w-full object-contain"/>
      </div>
      <div class="p-8 sm:p-10">
        <img width="158" height="48" src="/assets/images/clients/fable.png" alt="Transistor" class="max-h-12 w-full object-contain"/>
      </div>
      <div class="p-8 sm:p-10">
        <img width="158" height="48" src="/assets/images/clients/berbix.png" alt="Transistor" class="max-h-12 w-full object-contain"/>
      </div>
      <div class="p-8 sm:p-10">
        <img width="158" height="48" src="/assets/images/clients/duoplane.png" alt="Transistor" class="max-h-12 w-full object-contain"/>
      </div>
      <div class="p-8 sm:p-10">
        <img width="158" height="48" src="/assets/images/clients/canalyst.png" alt="Transistor" class="max-h-12 w-full object-contain"/>
      </div>
    </div>
  </div>
</div>