<footer class="bg-gray-900">
  <div class="mx-auto max-w-7xl px-6 lg:px-8 text-center py-8">
    <p class="text-sm/6 text-gray-400 dark:text-gray-400">&copy; 2010&ndash;2025 Dreamcode Studios. All rights reserved.</p>
  </div>
</footer>