<div class="relative isolate overflow-hidden pt-14 h-dvh flex items-center">
  <img src="/assets/images/hero_backgrounds/bg-team.jpg"
       class="absolute inset-0 -z-10 size-full object-cover brightness-20"/>

  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-4xl py-32 sm:py-48 lg:pt-28 lg:pb-56">
      <div class="text-center">
        <h1 class="text-4xl font-medium tracking-wide text-white sm:text-6xl/20 dark:text-white">Grow your pipeline with qualified leads</h1>
        <p class="mt-16 text-2xl font-light text-pretty italic text-white sm:text-3xl">We help B2B companies gain more revenue with optimized paid advertising strategy</p>
        <div class="mt-18 flex items-center justify-center gap-x-6">
          <a href="{{ site.cta_url }}" class="rounded-4xl bg-waikawa-gray-500 tracking-wide px-8 py-3.5 text-base font-normal text-white shadow-xs hover:bg-waikawa-gray-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-waikawa-gray-500">Book a Call</a>
        </div>
      </div>
    </div>
  </div>
</div>