<div class="bg-white scroll-mt-16 py-12 sm:pt-24 sm:pb-32">
  <div class="mx-auto max-w-5xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="mx-auto max-w-lg text-center font-semibold tracking-tight text-balance text-waikawa-gray-900 text-4xl sm:text-5xl">About Dreamcode</h2>
    </div>

    <div class="mt-12 sm:mt-16 text-waikawa-gray-600 flex flex-col gap-12 sm:flex-row">
      <div class="w-56 flex-none bg-green-500/0 self-center sm:self-start">
        <img src="/assets/images/team_members/eva2.jpeg" alt="Eva Profile Picture" class="rounded-2xl outline -outline-offset-1 outline-black/5"/>
      </div>

      <div class="flex-1 bg-red-500/0 text-pretty leading-6">
        <p>Hi! I'm Eva.</p>

        <p class="mt-4">If paid ads feel messy, disconnected from revenue, or hard to trust, you're not alone. I help B2B teams turn paid media into a channel that supports pipeline, not just clicks and leads.</p>

        <p class="mt-4">I learned paid ads by spending my own money launching a Shopify business before moving into B2B. This experience shaped how I work: with a business-first mindset, focused on what drives results and aligning paid ads with your product, positioning, and messaging.</p>

        <p class="mt-4">Most teams I work with aren't looking for “someone to run ads.” They're looking for a partner who thinks strategically, understands the pipeline, and can bring clarity to the mess.</p>

        <p class="mt-4">If you want paid media to feel like a growth engine instead of a guessing game, let's talk!</p>
      </div>
    </div>
  </div>
</div>
