<div id="process" class="bg-white py-24 dark:bg-gray-900">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <p class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-waikawa-gray-900 sm:text-5xl lg:text-balance dark:text-white">Our Process</p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <div class="relative">
          <dt class="flex gap-x-3 mb-5">
            <div class="flex size-10 items-center justify-center rounded-lg bg-waikawa-gray-500 dark:bg-indigo-500 text-white text-base font-semibold">
              1
            </div>
            <div class="text-lg/7 font-semibold text-waikawa-gray-900 dark:text-white flex items-center">
              Discovery, Research and Audit
            </div>
          </dt>
          <dd class="mt-2 text-base/7 text-gray-600 dark:text-gray-400">
            <ul class="space-y-3">
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 inline">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"/>
                </svg>

                Conduct a detailed audit of your platforms and CRM to assess what's working and what needs adjustment
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 inline">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"/>
                </svg>
                Collaborate with you to identify key performance indicators
              </li>
              <li>

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 inline">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"/>
                </svg>

                Ensure accurate tracking of the right metrics
              </li>
            </ul>
          </dd>
        </div>
        <div class="relative">
          <dt class="flex gap-x-3 mb-5">
            <div class="flex size-10 items-center justify-center rounded-lg bg-waikawa-gray-500 dark:bg-indigo-500 text-white text-base font-semibold">
              2
            </div>
            <div class="text-lg/7 font-semibold text-waikawa-gray-900 dark:text-white flex items-center">
              Bottom-of-Funnel Campaign Setup
            </div>
          </dt>
          <dd class="mt-2 text-base/7 text-gray-600 dark:text-gray-400">
            <ul class="space-y-3">
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 inline">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"/>
                </svg>

                Target ready-to-purchase buyers through demand capture campaigns
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 inline">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"/>
                </svg>

                Aim to launch the campaign within the first month
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 inline">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"/>
                </svg>

                Provide weekly progress reports to keep you updated
              </li>
            </ul>
          </dd>
        </div>
        <div class="relative">
          <dt class="flex gap-x-3 mb-5">
            <div class="flex size-10 items-center justify-center rounded-lg bg-waikawa-gray-500 dark:bg-indigo-500 text-white text-base font-semibold">
              3
            </div>
            <div class="text-lg/7 font-semibold text-waikawa-gray-900 dark:text-white flex items-center">
              Awareness Campaign Setup
            </div>
          </dt>
          <dd class="mt-2 text-base/7 text-gray-600 dark:text-gray-400">
            <ul class="space-y-3">
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 inline">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"/>
                </svg>

                Add awareness ads to your campaign mix after the first month
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 inline">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"/>
                </svg>

                Educate your market on social channels using both gated and ungated content
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 inline">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"/>
                </svg>

                Ensure your product is the first choice for potential customers when they are ready to buy
              </li>
            </ul>
          </dd>
        </div>
        <div class="relative">
          <dt class="flex gap-x-3 mb-5">
            <div class="flex size-10 items-center justify-center rounded-lg bg-waikawa-gray-500 dark:bg-indigo-500 text-white text-base font-semibold">
              4
            </div>
            <div class="text-lg/7 font-semibold text-waikawa-gray-900 dark:text-white flex items-center">
              Optimization, Learning & Expansion
            </div>
          </dt>
          <dd class="mt-2 text-base/7 text-gray-600 dark:text-gray-400">
            <ul class="space-y-3">
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 inline">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"/>
                </svg>

                Move into monthly sprint cycles once the paid program foundation is set
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 inline">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"/>
                </svg>

                Discuss performance updates, plan campaigns, and refine audience targeting during bi-weekly and monthly meetings
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 inline">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"/>
                </svg>

                Build on learnings and unlock new growth opportunities
              </li>
            </ul>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>