<div class="bg-waikawa-gray-50 py-12 sm:py-24">
  <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
    <h2 class="mx-auto max-w-lg text-center font-semibold tracking-tight text-balance text-waikawa-gray-900 text-4xl sm:text-5xl">Does this sound familiar?</h2>

    <div class="mt-10 grid gap-10 sm:gap-16 sm:mt-16 lg:grid-cols-3">
      <!-- box 1 -->
      <div class="overflow-hidden rounded-lg">
        <div class="relative pl-9">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="absolute top-1 left-1 size-5 text-waikawa-gray-600">
            <path d="M10 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM6 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0ZM1.49 15.326a.78.78 0 0 1-.358-.442 3 3 0 0 1 4.308-3.516 6.484 6.484 0 0 0-1.905 3.959c-.023.222-.014.442.025.654a4.97 4.97 0 0 1-2.07-.655ZM16.44 15.98a4.97 4.97 0 0 0 2.07-.654.78.78 0 0 0 .357-.442 3 3 0 0 0-4.308-3.517 6.484 6.484 0 0 1 1.907 3.96 2.32 2.32 0 0 1-.026.654ZM18 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0ZM5.304 16.19a.844.844 0 0 1-.277-.71 5 5 0 0 1 9.947 0 .843.843 0 0 1-.277.71A6.975 6.975 0 0 1 10 18a6.974 6.974 0 0 1-4.696-1.81Z" />
          </svg>

          <p class="font-semibold text-lg">You're a CEO or marketing lead with a lean team.</p>
          <p class="mt-3 text-pretty">You're juggling a long list of priorities with limited time and resources. You need a partner who can plug in quickly and work with what you already have.</p>
        </div>
      </div>

      <!-- box 2 -->
      <div class="overflow-hidden rounded-lg">
        <div class="relative pl-9">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="absolute top-1 left-1 size-5 text-waikawa-gray-600">
            <path fill-rule="evenodd" d="M1 2.75A.75.75 0 0 1 1.75 2h16.5a.75.75 0 0 1 0 1.5H18v8.75A2.75 2.75 0 0 1 15.25 15h-1.072l.798 3.06a.75.75 0 0 1-1.452.38L13.41 18H6.59l-.114.44a.75.75 0 0 1-1.452-.38L5.823 15H4.75A2.75 2.75 0 0 1 2 12.25V3.5h-.25A.75.75 0 0 1 1 2.75ZM7.373 15l-.391 1.5h6.037l-.392-1.5H7.373ZM13.25 5a.75.75 0 0 1 .75.75v5.5a.75.75 0 0 1-1.5 0v-5.5a.75.75 0 0 1 .75-.75Zm-6.5 4a.75.75 0 0 1 .75.75v1.5a.75.75 0 0 1-1.5 0v-1.5A.75.75 0 0 1 6.75 9Zm4-1.25a.75.75 0 0 0-1.5 0v3.5a.75.75 0 0 0 1.5 0v-3.5Z" clip-rule="evenodd" />
          </svg>

          <p class="font-semibold text-lg">You want clarity, not just campaigns.</p>
          <p class="mt-3 text-pretty">You're tired of one-off tactics. You want a proactive collaborator who brings fresh ideas, clear recommendations, and strategic insights - not just “button-pushing” in ad platforms.</p>
        </div>
      </div>

      <!-- box 3 -->
      <div class="overflow-hidden rounded-lg">
        <div class="relative pl-9">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="absolute top-1 left-1 size-5 text-waikawa-gray-600">
            <path fill-rule="evenodd" d="M9.661 2.237a.531.531 0 0 1 .678 0 11.947 11.947 0 0 0 7.078 2.749.5.5 0 0 1 .479.425c.069.52.104 1.05.104 1.59 0 5.162-3.26 9.563-7.834 11.256a.48.48 0 0 1-.332 0C5.26 16.564 2 12.163 2 7c0-.538.035-1.069.104-1.589a.5.5 0 0 1 .48-.425 11.947 11.947 0 0 0 7.077-2.75Zm4.196 5.954a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z" clip-rule="evenodd" />
          </svg>

          <p class="font-semibold text-lg">You're frustrated with agencies you can't really trust.</p>
          <p class="mt-3 text-pretty">You're not sure what's working, who's doing what, or how it ties to pipeline. You want someone who owns the numbers with you and delivers results without needing constant oversight.</p>
        </div>
      </div>
    </div>
  </div>
</div>
