<div class="bg-waikawa-gray-100 py-12 sm:py-24">
  <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
    <h2 class="mx-auto max-w-lg text-center font-semibold tracking-tight text-balance text-waikawa-gray-900 text-4xl sm:text-5xl">
      Sounds Familiar?
    </h2>

    <div class="mt-10 grid gap-12 sm:mt-16 lg:grid-cols-3">
      <!-- box 1 -->
      <div class="overflow-hidden rounded-lg bg-white">
        <div class="p-8">
          <p>Your marketing team is stretched thin, juggling numerous tasks with limited resources. You need an external partner who can work with your resources.</p>
        </div>
      </div>

      <!-- box 2 -->
      <div class="overflow-hidden rounded-lg bg-white">
        <div class="p-8">
          <p>You crave certainty and value recommendations. You need a proactive collaborator who offers fresh ideas and strategic insights, going beyond just managing campaigns.</p>
        </div>
      </div>

      <!-- box 3 -->
      <div class="overflow-hidden rounded-lg bg-white">
        <div class="p-8">
          <p>You're tired of managing agencies or contractors, unsure of what's working or who is handling your campaigns. You need a partner who delivers results without requiring constant oversight.</p>
        </div>
      </div>
    </div>
  </div>
</div>