<div id="testimonials" class="relative isolate bg-waikawa-gray-100 py-24">
  {% if site.backgrounds_enabled %}
    <div aria-hidden="true" class="absolute inset-x-0 top-1/2 -z-10 -translate-y-1/2 transform-gpu overflow-hidden opacity-30 blur-3xl">
      <div style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" class="ml-[max(50%,38rem)] aspect-1313/771 w-328.25 bg-linear-to-tr from-[#ff80b5] to-[#9089fc]"></div>
    </div>
    <div aria-hidden="true" class="absolute inset-x-0 top-0 -z-10 flex transform-gpu overflow-hidden pt-32 opacity-25 blur-3xl sm:pt-40 xl:justify-end">
      <div style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" class="-ml-88 aspect-1313/771 w-328.25 flex-none origin-top-right rotate-30 bg-linear-to-tr from-[#ff80b5] to-[#9089fc] xl:mr-[calc(50%-12rem)] xl:ml-0"></div>
    </div>
  {% endif %}

  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="mx-auto text-center font-semibold tracking-tight text-balance text-waikawa-gray-900 text-5xl">
        We have worked with thousands of amazing people
      </h2>
    </div>
    <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 grid-rows-1 gap-8 text-base/6 text-waikawa-gray-900 sm:mt-20 sm:grid-cols-2 xl:mx-0 xl:max-w-none xl:grid-flow-col xl:grid-cols-4">
      {# Testimonial 1 #}
      <figure class="rounded-2xl bg-white shadow-lg ring-1 ring-gray-900/5 sm:col-span-2 xl:col-start-2 xl:row-end-1">
        <blockquote class="p-6 text-lg font-normal tracking-tight text-waikawa-gray-900 sm:p-12 sm:text-xl/8">
          <p>“It's been a night and day difference switching from our paid ad management from our previous vendor to Eva. She helps us tell the story of ROI that our ads are making and we have seen an improvement in high quality sales leads come through our ads since she has taken over. I especially like that she is hands-on with building the reports between software to help visually show the positive impact.”</p>
        </blockquote>
        <figcaption class="flex flex-wrap items-center gap-x-4 gap-y-4 border-t border-gray-900/10 px-6 py-4 sm:flex-nowrap">
          <img src="/assets/images/testimonials/mackenzie.jpeg" alt="" class="size-10 flex-none rounded-full bg-gray-50"/>
          <div class="flex-auto">
            <div class="font-semibold text-waikawa-gray-900">Mackenzie Hesler</div>
            <div class="text-gray-600">Growth Marketing Manager</div>
          </div>
          <img src="/assets/images/clients/lifelabs.png" alt="" class="h-10 w-auto flex-none"/>
        </figcaption>
      </figure>
      <div class="space-y-8 xl:contents xl:space-y-0">
        {# Column 1 #}
        <div class="space-y-8 xl:row-span-2">
          {# Testimonial 2 #}
          <figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
            <blockquote class="text-waikawa-gray-900">
              <p>“Eva possesses qualities that set her apart from most other agencies - namely, accountability and ownership. Her proficiency in assuming responsibility for and executing our paid acquisition channels has been pivotal to our inbound success. Her unwavering commitment and ability to manage an entire campaign amidst constant change requests from diverse stakeholders have been truly remarkable. In need of someone to seamlessly integrate into your marketing team? Look no further than Eva. I wholeheartedly endorse her for any company, regardless of size, seeking to revitalize their paid acquisition campaigns!”</p>
            </blockquote>
            <figcaption class="mt-6 flex items-center gap-x-4">
              <img src="/assets/images/testimonials/sean.jpeg" alt="" class="size-10 rounded-full bg-gray-50"/>
              <div>
                <div class="font-semibold text-waikawa-gray-900">Sean Syal</div>
                <div class="text-gray-600">Director, Growth Marketing at Coursedog</div>
              </div>
            </figcaption>
          </figure>

          {# Testimonial 3 #}
          <figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
            <blockquote class="text-waikawa-gray-900">
              <p>“Eva's a true professional who makes work fun. In a challenging year, she was able to learn about the nuances of our industry and target market, and ramp up our digital impact - all at an impressive pace. A thoughtful strategist and effective executor, she's been invaluable to our team and marketing efforts.”</p>
            </blockquote>
            <figcaption class="mt-6 flex items-center gap-x-4">
              <img src="/assets/images/testimonials/ashley_wide.jpeg" alt="" class="size-10 rounded-full bg-gray-50"/>
              <div>
                <div class="font-semibold text-waikawa-gray-900">Ashley Hargreaves</div>
                <div class="text-gray-600">VP Marketing at Canalyst</div>
              </div>
            </figcaption>
          </figure>

          {# Testimonial 4 #}
          <figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
            <blockquote class="text-waikawa-gray-900">
              <p>"I have worked with Eva at 2 of my companies now and couldn't recommend her more. She is knowledgeable, personable and thinks outside the box. I look forward to working with her for many years to come!"</p>
            </blockquote>
            <figcaption class="mt-6 flex items-center gap-x-4">
              <img src="/assets/images/testimonials/mandy_wide.jpeg" alt="" class="size-10 rounded-full bg-gray-50"/>
              <div>
                <div class="font-semibold text-waikawa-gray-900">Mandy Potter</div>
                <div class="text-gray-600">Chief Revenue Officer at Duoplane</div>
              </div>
            </figcaption>
          </figure>
        </div>

        {# Column 2 #}
        <div class="space-y-8 xl:row-start-1">
          {# Testimonial 5 #}
          <figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
            <blockquote class="text-waikawa-gray-900">
              <p>“Dreamcode has been amazing to work with! Eva is very knowledgeable, easy and fun to work with. She has helped with setting up our Google Ads, Linkedin Ads, setting us up to properly track conversions, and helped with landing page creation and optimizations. She is also very helpful with overall marketing strategy and is eager to explain and advise on many types of marketing campaigns. I very highly recommend her!”</p>
            </blockquote>
            <figcaption class="mt-6 flex items-center gap-x-4">
              <img src="/assets/images/testimonials/olga_wide.jpeg" alt="" class="size-10 rounded-full bg-gray-50"/>
              <div>
                <div class="font-semibold text-waikawa-gray-900">Olga Karatchenia</div>
                <div class="text-gray-600">Marketing Director at Bucketlist Rewards</div>
              </div>
            </figcaption>
          </figure>

          {# Testimonial 6 #}
          <figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
            <blockquote class="text-waikawa-gray-900">
              <p>“Working with Eva has been fantastic. Her attention to detail and management of our ad accounts has been very beneficial. She provides detailed reporting and is always there if you need her. We have been able to figure out our CPA and the best strategies to get more leads. I highly recommend her services.”</p>
            </blockquote>
            <figcaption class="mt-6 flex items-center gap-x-4">
              <img src="/assets/images/testimonials/mike_wide.jpg" alt="" class="size-10 rounded-full bg-gray-50"/>
              <div>
                <div class="font-semibold text-waikawa-gray-900">Mike Tangreda</div>
                <div class="text-gray-600">CEO at In Home Trainer</div>
              </div>
            </figcaption>
          </figure>
        </div>
      </div>

      <div class="space-y-8 xl:contents xl:space-y-0">
        {# Column 3 #}
        <div class="space-y-8 xl:row-start-1">
          {# Testimonial 7 #}
          <figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
            <blockquote class="text-waikawa-gray-900">
              <p>“I've been working with Eva on our PPC strategy for a few years now, and she's made a huge difference in our inbound leads! Eva understands our target customers, industry, and the online communities, making smart recommendations and optimizing our spending. From Google Ads to Facebook retargeting, custom landing pages and ROI reports, having Eva work with our team has been one of our best decisions!”</p>
            </blockquote>
            <figcaption class="mt-6 flex items-center gap-x-4">
              <img src="/assets/images/testimonials/kasey_wide.jpg" alt="" class="size-10 rounded-full bg-gray-50"/>
              <div>
                <div class="font-semibold text-waikawa-gray-900">Kasey Bayne</div>
                <div class="text-gray-600">Fractional CMO</div>
              </div>
            </figcaption>
          </figure>

          {# Testimonial 8 #}
          <figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
            <blockquote class="text-waikawa-gray-900">
              <p>“I really enjoyed working with Eva. She worked closely with us to set up the campaigns, analytics, and test different channels. She gave detailed updates on our weekly calls, was always available for questions, and helped us identify key messages that resonated best with our customer personas.”</p>
            </blockquote>
            <figcaption class="mt-6 flex items-center gap-x-4">
              <img src="/assets/images/testimonials/linda_wide.jpeg" alt="" class="size-10 rounded-full bg-gray-50"/>
              <div>
                <div class="font-semibold text-waikawa-gray-900">Linda Watkins</div>
                <div class="text-gray-600">VP of Partnerships at Gatsby</div>
              </div>
            </figcaption>
          </figure>
        </div>

        {# Column 4 #}
        <div class="space-y-8 xl:row-span-2">
          {# Testimonial 9 #}
          <figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
            <blockquote class="text-waikawa-gray-900">
              <p>“Eva's fantastic! She's fast, effective, and implements marketing strategies very quickly. She's can A/B test Facebook ads and landing pages, as well as email drip campaigns for clients. If you're looking for an internet marketer to grow your business, hire Eva!”</p>
            </blockquote>
            <figcaption class="mt-6 flex items-center gap-x-4">
              <img src="/assets/images/testimonials/clarence.jpeg" alt="" class="size-10 rounded-full bg-gray-50"/>
              <div>
                <div class="font-semibold text-waikawa-gray-900">Clarence Chew</div>
                <div class="text-gray-600">Founder at Sociable Insights</div>
              </div>
            </figcaption>
          </figure>

          {# Testimonial 10 #}
          <figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
            <blockquote class="text-waikawa-gray-900">
              <p>“Eva is such a pleasure to work with! Her knowledge, enthusiasm, and passion light up the boardroom. She is a master at developing PPC campaigns and implementing measurable strategies. She is always the first one to point out the weak points of any advertising campaign, which makes everything she touches better and stronger. Eva also is so professional when handling client objections or questions. I would hire Eva immediately if you need an online advertising specialist. Thank you for everything!”</p>
            </blockquote>
            <figcaption class="mt-6 flex items-center gap-x-4">
              <img src="/assets/images/testimonials/sydney_wide.jpeg" alt="" class="size-10 rounded-full bg-gray-50"/>
              <div>
                <div class="font-semibold text-waikawa-gray-900">Sydney Van Alstyne</div>
                <div class="text-gray-600">Marketing Manager at RedStamp</div>
              </div>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>